<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3 dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span class="d-md-down-none">Settings</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#" [routerLink]="['/account/profile']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#" [routerLink]="['/account/account-settings']"><i class="fa fa-wrench"></i> Account Settings</a>
        <a class="dropdown-item" href="#" [routerLink]="['/valve/add-valve']"><i class="fa fa-wrench"></i> Add valve</a>
        <a class="dropdown-item" href="#" [routerLink]="['/ownership-cost/ownership-question']"><i class="fa fa-usd"></i> Questions Settings</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto px-3">
    <li class="nav-item px-3">
      <a class="nav-link" href="#" (click)="logout()" routerLink="/auth">Logout</a>
    </li>
  </ul>
</header>
<!--Nav Bar -->
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link"><i class="icon-speedometer"></i> Dashboard</a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Info
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="icon-pie-chart"></i> About</a>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-notebook"></i> Brochures</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “M” Class</a>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “F” Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “S” Class</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-layers"></i> Powerpoint</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “M” Class</a>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “F” Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> “S” Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-puzzle"></i> Valves Service</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-screen-tablet"></i> Technical Data</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Hardening Methods</a>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> A. Cut Difference</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Nace Materials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Hardness Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Devlon Brochure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Threaded Flanges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Wetted Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-doc"></i> Stainless Steels</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/ownership-cost']"><i class="icon-calculator"></i> Ownership Cost</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
          <a class="btn btn-secondary" [routerLink]="['/quote']"><i class="icon-graph"></i> &nbsp; Request a Quote</a>
          <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

</div>

<footer class="app-footer">
  <span class="float-right"><a class="float-right" href="http://www.goscovalves.com/">Gosco</a> &copy; 2017</span>
</footer>
