<form class="form-horizontal">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6" style="margin: 0 auto;">
        <div class="card">
          <div class="card-header">
            <strong>Constants</strong>
          </div>
          <div class="card-block">
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <label>
                    What is the number of valves needed?
                  </label>
                </div>
                <div class="col-3" style="text-align: right">
                  <i mdTooltip="what is the number of valves needed?" class="fa fa-info-circle" style="color: #00b3ee"></i>
                </div>
              </div>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="cons.valveNumber" [ngModelOptions]="{standalone: true}" autofocus/>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <label>
                    What is the MTBF(mths)?
                  </label>
                </div>
                <div class="col-3" style="text-align: right">
                  <i mdTooltip="what is the month between failures?" class="fa fa-info-circle" style="color: #00b3ee"></i>
                </div>
              </div>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="cons.MTBF" [ngModelOptions]="{standalone: true}" autofocus/>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <label>
                    What is the percentage of valve failure?
                  </label>
                </div>
                <div class="col-3" style="text-align: right">
                  <i mdTooltip="What is the percentage of valve failure?" class="fa fa-info-circle" style="color: #00b3ee"></i>
                </div>
              </div>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="cons.failPercent" [ngModelOptions]="{standalone: true}" autofocus/>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <label>
                    What is the opportunityCost by percentage?
                  </label>
                </div>
                <div class="col-3" style="text-align: right">
                  <i mdTooltip="What is the opportunityCost by percentage?" class="fa fa-info-circle" style="color: #00b3ee"></i>
                </div>
              </div>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="cons.opportunityCost" [ngModelOptions]="{standalone: true}" autofocus/>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-block btn-primary" [hidden]="!nextbutton" (click)="nextbutton = false"><i class="fa fa-plus-circle"></i> Next</button>
        <div class="dropdown-divider" [hidden]="!nextbutton" style="border-color: transparent"></div>
        <div [hidden]="nextbutton">
          <div class="card">
            <div class="card-header">
              <strong>Cost of Ownership</strong>
            </div>
            <div class="card-block">
              <div class="form-group" *ngFor="let item of answerdata | async ; let i = index" >
                <div class="row">
                  <div class="col-9">
                    <label>
                      What is the {{item.type}}?
                    </label>
                  </div>
                  <div class="col-3" style="text-align: right">
                    <i [mdTooltip]="item.desc" class="fa fa-info-circle" style="color: #00b3ee"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="input-prepend input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" #updatedata [placeholder]="item.amount" [value]="item.amount" id="default" name="default" class="form-control" (blur)="submitAnswer(item.$key, updatedata.value)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-block btn-outline-primary" [hidden]="!addbutton" (click)="addbutton = false"><i class="fa fa-plus-circle"></i> Add</button>
          <div class="dropdown-divider" [hidden]="!addbutton" style="border-color: transparent"></div>
          <div class="card" [hidden]="addbutton">
            <div class="card-header">
              <strong>Add a Cost</strong>
            </div>
            <div class="card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Cost Type</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" [(ngModel)]="newtype" [ngModelOptions]="{standalone: true}" placeholder="what is the type?" autofocus/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Amount</label>
                  <div class="col-md-9">
                    <div class="input-prepend input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" class="form-control" [(ngModel)]="newcost" [ngModelOptions]="{standalone: true}" placeholder="enter cost amount..">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">One Time? </label>
                  <div class="col-md-6">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" [(ngModel)]="onetime" [ngModelOptions]="{standalone: true}" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                  <div class="col-md-3" style="text-align: right">
                    <i mdTooltip="Is it one time payment or do you have to pay every time the valve fails" class="fa fa-info-circle" style="color: #00b3ee"></i>
                  </div>
                </div>

              </form>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-sm btn-danger" (click)="addForm()"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
          </div>
          <button type="submit" class="btn btn-block btn-primary" (click)="submitForm()" routerLink="/ownership-cost/ownership-result"><i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</form>
